<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 50px;
  position: absolute;
  font-size: 80px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  top:67%;
  left:5%;
}

.next {
  background-color: #f1f1f1;
  color: black;
  top:68%;
  right:3%;
}

.round {
  border-radius: 100%;
}

</style>
</head>
<body bgcolor = "Black">
<a href="/epicdata2" class="previous round">&#8249;</a>
<img src = {{img}}> 
<a href="/epicdata4" class="next round">&#8250;</a>
  
</body>
</html> 